<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nifty Comparision</title>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
  </head>
  <body>
    <div id="chartContainer" style="height: 600px; width: 100%"></div>
    <script type="text/javascript">
      window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
          title: {
            text: "Nifty vs Strategy",
          },
          data: [
            {
              // Change type to "doughnut", "line", "splineArea", etc.
              type: "line",
              name: "Nifty",
              showInLegend: true,
              dataPoints: [
                { x: 1, y: 103.80880913539967 },
                { x: 2, y: 103.47686934885597 },
                { x: 3, y: 108.17853176245829 },
                { x: 4, y: 111.2898397140603 },
                { x: 5, y: 107.1202374637886 },
                { x: 6, y: 114.06192096929304 },
                { x: 7, y: 115.34928840448751 },
                { x: 8, y: 109.3865552630995 },
                { x: 9, y: 105.49006941370492 },
                { x: 10, y: 108.09974713530204 },
                { x: 11, y: 107.47366822914552 },
                { x: 12, y: 109.48296552145226 },
                { x: 13, y: 102.54464266080176 },
                { x: 14, y: 103.07565298799905 },
                { x: 15, y: 104.0268268930503 },
                { x: 16, y: 102.48603312451688 },
                { x: 17, y: 102.33407127523417 },
                { x: 18, y: 97.5012584060865 },
                { x: 19, y: 89.76166645315854 },
                { x: 20, y: 98.69096432793975 },
                { x: 21, y: 100.37565599879005 },
                { x: 22, y: 104.70494720693965 },
                { x: 23, y: 106.09453567761079 },
                { x: 24, y: 110.2480613554641 },
                { x: 25, y: 111.92834968528695 },
                { x: 26, y: 109.6060553575849 },
                { x: 27, y: 109.09445967331747 },
                { x: 28, y: 103.6902611861807 },
                { x: 29, y: 102.95824114723897 },
                { x: 30, y: 107.36244259313001 },
                { x: 31, y: 111.23647753591827 },
                { x: 32, y: 114.60127979371212 },
                { x: 33, y: 115.63846574677213 },
                { x: 34, y: 119.12253286360394 },
                { x: 35, y: 118.09734141448597 },
                { x: 36, y: 124.1223326329316 },
                { x: 37, y: 121.87177400568777 },
                { x: 38, y: 120.04387828431021 },
                { x: 39, y: 125.40704266845555 },
                { x: 40, y: 123.4300473228615 },
                { x: 41, y: 126.64095787511887 },
                { x: 42, y: 132.60522908547037 },
                { x: 43, y: 125.98130100452059 },
                { x: 44, y: 121.57854607793165 },
                { x: 45, y: 128.61697938975786 },
                { x: 46, y: 128.0480703343749 },
                { x: 47, y: 127.76009945416637 },
                { x: 48, y: 135.19010929118417 },
                { x: 49, y: 139.00667895347425 },
                { x: 50, y: 129.29130464839452 },
                { x: 51, y: 122.85329340319778 },
                { x: 52, y: 127.97193551081064 },
                { x: 53, y: 127.17406461461351 },
                { x: 54, y: 126.58095105890148 },
                { x: 55, y: 125.89446606212076 },
                { x: 56, y: 134.9655927342011 },
                { x: 57, y: 135.9253187498118 },
                { x: 58, y: 138.2118868957325 },
                { x: 59, y: 136.30527682365417 },
                { x: 60, y: 127.99449891683098 },
                { x: 61, y: 127.56689392460868 },
                { x: 62, y: 133.54316423240925 },
                { x: 63, y: 137.74182885633405 },
                { x: 64, y: 139.7054141456267 },
                { x: 65, y: 140.06684876146602 },
                { x: 66, y: 137.3113468994835 },
                { x: 67, y: 128.83217858541664 },
                { x: 68, y: 97.27169740394086 },
                { x: 69, y: 111.72856900934477 },
                { x: 70, y: 112.27704512301102 },
                { x: 71, y: 118.91715679400545 },
                { x: 72, y: 127.55217942042462 },
                { x: 73, y: 131.3582523389074 },
                { x: 74, y: 128.87472511138733 },
                { x: 75, y: 132.0267236546261 },
                { x: 76, y: 146.3791352520582 },
                { x: 77, y: 156.68390273540942 },
                { x: 78, y: 152.63697317368505 },
                { x: 79, y: 161.185402496362 },
                { x: 80, y: 161.05603757546712 },
                { x: 81, y: 159.23525457957732 },
                { x: 82, y: 171.3502215006949 },
                { x: 83, y: 172.35718696984097 },
                { x: 84, y: 172.44470541603812 },
                { x: 85, y: 186.10241211778649 },
                { x: 86, y: 190.7864847344859 },
                { x: 87, y: 192.3072789006427 },
                { x: 88, y: 183.65660633945026 },
                { x: 89, y: 186.33719564820376 },
                { x: 90, y: 185.83028397181283 },
                { x: 91, y: 178.03269389480147 },
                { x: 92, y: 187.38490641888703 },
                { x: 93, y: 183.79182832237012 },
                { x: 94, y: 180.10066893776536 },
                { x: 95, y: 171.2646182450207 },
                { x: 96, y: 187.12794666241882 },
                { x: 97, y: 192.72880574150355 },
                { x: 98, y: 188.41531425263335 },
                { x: 99, y: 198.44196463482746 },
                { x: 100, y: 205.31164418956328 },
                { x: 101, y: 196.97110852589688 },
                { x: 102, y: 191.8702198056812 },
                { x: 103, y: 186.4017095604279 },
                { x: 104, y: 186.39795148309275 },
                { x: 105, y: 193.21142151211532 },
                { x: 106, y: 197.57778132029873 },
                { x: 107, y: 204.06094516745847 },
                { x: 108, y: 209.43959154386206 },
                { x: 109, y: 203.82672905717808 },
                { x: 110, y: 207.85020644473013 },
                { x: 111, y: 202.10059925813727 },
                { x: 112, y: 213.43427445658014 },
              ],
            },
            {
              // Change type to "doughnut", "line", "splineArea", etc.
              type: "line",
              name: "Strategy",
              showInLegend: true,
              dataPoints: [
                { x: 1, y: 121.77266847002129 },
                { x: 2, y: 140.00744150079498 },
                { x: 3, y: 155.34509599627057 },
                { x: 4, y: 202.40584222984012 },
                { x: 5, y: 228.1890762537262 },
                { x: 6, y: 309.05428667841875 },
                { x: 7, y: 329.0817591196158 },
                { x: 8, y: 249.8394545529414 },
                { x: 9, y: 243.36985251896775 },
                { x: 10, y: 271.83889091470786 },
                { x: 11, y: 344.87062774062787 },
                { x: 12, y: 360.98970894579696 },
                { x: 13, y: 268.874611619286 },
                { x: 14, y: 239.97711720991563 },
                { x: 15, y: 245.56252770642158 },
                { x: 16, y: 219.0335840406493 },
                { x: 17, y: 238.7044373001116 },
                { x: 18, y: 219.53422135620178 },
                { x: 19, y: 189.8087334438616 },
                { x: 20, y: 269.8108104331746 },
                { x: 21, y: 317.005766462526 },
                { x: 22, y: 347.78724892550343 },
                { x: 23, y: 404.97454092294635 },
                { x: 24, y: 579.6816754338066 },
                { x: 25, y: 697.9587670281925 },
                { x: 26, y: 687.8055724739152 },
                { x: 27, y: 827.1195021953451 },
                { x: 28, y: 764.2682358899438 },
                { x: 29, y: 678.8066154791251 },
                { x: 30, y: 823.2333174747932 },
                { x: 31, y: 817.4186168681623 },
                { x: 32, y: 874.0829226172949 },
                { x: 33, y: 954.8641623139365 },
                { x: 34, y: 919.5050412054024 },
                { x: 35, y: 845.8138855099958 },
                { x: 36, y: 911.3366776496457 },
                { x: 37, y: 995.5527776988878 },
                { x: 38, y: 927.6537380959164 },
                { x: 39, y: 1080.018200165056 },
                { x: 40, y: 983.4878771789307 },
                { x: 41, y: 1099.6705053111739 },
                { x: 42, y: 1048.8279539246869 },
                { x: 43, y: 894.1967237056105 },
                { x: 44, y: 817.3183980882279 },
                { x: 45, y: 1045.5223340294885 },
                { x: 46, y: 1137.4805385536079 },
                { x: 47, y: 1143.5907592712672 },
                { x: 48, y: 1402.9084200941109 },
                { x: 49, y: 1599.7127348759966 },
                { x: 50, y: 1072.732111285795 },
                { x: 51, y: 858.0081182258984 },
                { x: 52, y: 840.0469049125348 },
                { x: 53, y: 876.4582950652839 },
                { x: 54, y: 806.5378842956447 },
                { x: 55, y: 786.7462718436209 },
                { x: 56, y: 1009.6343692733653 },
                { x: 57, y: 716.4626439035308 },
                { x: 58, y: 775.4066611790298 },
                { x: 59, y: 776.2863404665914 },
                { x: 60, y: 487.53396059697405 },
                { x: 61, y: 455.8113339575935 },
                { x: 62, y: 546.5979085631868 },
                { x: 63, y: 582.7901127756521 },
                { x: 64, y: 562.9776763962172 },
                { x: 65, y: 541.948231024897 },
                { x: 66, y: 473.37801216686137 },
                { x: 67, y: 381.56355383110935 },
                { x: 68, y: 104.83128602105421 },
                { x: 69, y: 154.73235947231123 },
                { x: 70, y: 182.16028772670813 },
                { x: 71, y: 195.36100468094597 },
                { x: 72, y: 244.00965615044998 },
                { x: 73, y: 278.30989739680115 },
                { x: 74, y: 260.3237057236541 },
                { x: 75, y: 215.54907773686182 },
                { x: 76, y: 315.1776378455102 },
                { x: 77, y: 369.51763158578706 },
                { x: 78, y: 334.4144826522504 },
                { x: 79, y: 496.46448129711496 },
                { x: 80, y: 507.02210019706405 },
                { x: 81, y: 636.7898381221873 },
                { x: 82, y: 763.4880208252285 },
                { x: 83, y: 714.5934260231154 },
                { x: 84, y: 846.9106616468321 },
                { x: 85, y: 997.8578106825576 },
                { x: 86, y: 961.1118599599963 },
                { x: 87, y: 1006.9474504623618 },
                { x: 88, y: 888.4523869656985 },
                { x: 89, y: 953.6553235434502 },
                { x: 90, y: 790.9615541809069 },
                { x: 91, y: 722.2604073510965 },
                { x: 92, y: 783.9201294323864 },
                { x: 93, y: 774.5755207589606 },
                { x: 94, y: 660.0809210515077 },
                { x: 95, y: 564.6638160466639 },
                { x: 96, y: 711.533259913172 },
                { x: 97, y: 838.6343147042534 },
                { x: 98, y: 834.7231459168581 },
                { x: 99, y: 926.799753568928 },
                { x: 100, y: 877.423195361546 },
                { x: 101, y: 818.032210709244 },
                { x: 102, y: 813.1191861244246 },
                { x: 103, y: 640.0749927925845 },
                { x: 104, y: 634.7239566994913 },
                { x: 105, y: 734.9015535696602 },
                { x: 106, y: 815.4236403575323 },
                { x: 107, y: 895.1260647976709 },
                { x: 108, y: 1016.2319796744824 },
                { x: 109, y: 906.231719847616 },
                { x: 110, y: 987.3757518922197 },
                { x: 111, y: 931.7909627113079 },
                { x: 112, y: 1107.3190661272233 },
              ],
            },
          ],
        });
        chart.render();
      };
    </script>
  </body>
</html>
